.modal-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
    &.hidden {
        opacity: 0;
        visibility: hidden;
    }

    background: rgba(0, 0, 0, 0.5);
}
.modal {
    position: absolute;
    width: 680px;
    height: 680px;
    top: calc(50% - 680px / 2);
    left: calc(50% - 680px / 2);

    background: rgba(255, 255, 255, 0.66);
    border-radius: 20px;
    backdrop-filter: blur(20px);
}
.modal-close {
    position: absolute;
    width: 24px;
    height: 24px;
    line-height: 50%;
    text-align: center;
    right: 10px;
    top: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
}
.image {
    object-fit: contain;

    height: 60%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.info-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 40%;
    width: 100%;
}
.description {
    height: calc(100% - 40px);
    width: 50%;
    margin: 20px;
}
.bar {
    height: calc(100% - 40px);
    border: 1px solid black;
    margin: 2% 20px;
}
.details {
    height: calc(100% - 40px);
    width: 50%;
    margin: 20px;
}
.price {
    font-family: 'Roboto Mono', 'monospace' !important;
}
.stock {
    margin-bottom: 10px;
}
.button {
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    &.buy-now {
        background: #6297da;
    }
}
