h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    line-height: 1.2;
}

.custom-p-5 {
    padding: 10rem !important;
}

@media (max-width: 990px) {
    .custom-p-5 {
        padding-top: 10rem !important;
        padding-bottom: 4rem !important;
    }
}

@media (max-width: 720px) {
    .h-t-style {
        font-size: 38px !important;
    }
    .custom-p-5 {
        padding-top: 10rem !important;
        padding-bottom: 2rem !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .navbar-brand img {
        max-width: 100px !important;
    }
    .sec-img1-position {
        justify-content: center !important;
    }
    .sec-img2-position {
        justify-content: center !important;
    }
    .sec-img3-position {
        justify-content: center !important;
    }
    .sec-img4-position {
        justify-content: center !important;
    }
    .about-section h1 {
        font-size: 24px !important;
        text-align: center !important;
    }
    .about-section p {
        text-align: center !important;
    }
    #sec-padding {
        padding: 3rem 0rem !important;
    }
    .about-section img {
        padding-top: 2rem !important;
    }
}

.page-section {
    padding: 6rem 0;
}

.page-section .page-section-heading {
    font-size: 2.25rem;
    line-height: 2rem;
}

@media (min-width: 992px) {
    .page-section .page-section-heading {
        font-size: 3rem;
        line-height: 2.5rem;
    }
}

.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem;
}

.btn-social {
    border-radius: 100%;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}

.btn-primary {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.btn-primary:hover {
    border-color: #f2ede0;
}

.btn-primary:focus,
.btn-primary.focus {
    border-color: #f2ede0;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    background-color: #242424;
}

.btn-secondary {
    background-color: #add8e6;
    border-color: #add8e6;
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    background-color: #add8e6;
    border-color: #add8e6;
}

.btn-secondary {
    color: #000;
    background-color: #add8e6;
    border-color: #add8e6;
}

.btn-secondary:hover {
    color: #add8e6;
    background-color: #17323a00;
    border-color: #add8e6;
}

.btn-outline-secondary {
    color: #add8e6;
    border-color: #add8e6;
}

.btn-info {
    background-color: #000000;
    border-color: #add8e6;
}

.btn-info:hover {
    background-color: #000000;
    border-color: #add8e6;
}

.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
    background-color: #0d616f;
    border-color: #0c5965;
}

.btn-success {
    background-color: #186429;
    border-color: #165c26;
}

.btn-success:hover {
    background-color: #1a6c2c;
    border-color: #186429;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
    color: #fff;
    background-color: #186429;
    border-color: #165c26;
}

.btn-outline-primary {
    color: #f2ede0;
    border-color: #f2ede0;
}

.btn-outline-primary:hover {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
    color: #f2ede0;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.btn-outline-secondary,
.btn-outline-secondary:hover {
    color: #000000;
    border-color: #add8e6;
    background: #add8e6;
}

.btn-outline-secondary.disabled,
.btn-outline-secondary:disabled {
    color: #1e4151;
}

.btn-outline-secondary:not(:disabled):not(.disabled):active,
.btn-outline-secondary:not(:disabled):not(.disabled).active,
.show > .btn-outline-secondary.dropdown-toggle {
    background-color: #add8e6;
    border-color: #add8e6;
}

.btn-link {
    color: #f2ede0;
}

.btn-lg,
.btn-group-lg > .btn {
    border-radius: 0.5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f2ede0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #f2ede0;
    background-color: #f2ede0;
}

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
    border-color: #f2ede0;
    background-color: #f2ede0;
}

.custom-range::-webkit-slider-thumb,
.custom-range::-moz-range-thumb,
.custom-range::-ms-thumb {
    background-color: #f2ede0;
}

.page-link {
    color: #f2ede0;
}

.page-item.active .page-link {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

.badge-primary,
a.badge-primary:hover,
a.badge-primary:focus {
    background-color: #f2ede0;
}

.badge-secondary {
    background-color: #1e4151;
}

.list-group-item.active {
    background-color: #f2ede0;
    border-color: #f2ede0;
}

a.bg-primary:hover,
a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #ffffff !important;
}

.bg-secondary {
    background-color: #e4e4e4 !important;
    box-shadow: #00000030 0px 0px 10px 0px;
}

.border-primary {
    border-color: #f2ede0 !important;
}

.border-secondary {
    border-color: #1e4151 !important;
}

.pt-3,
.py-3 {
    padding-top: 0.5rem !important;
}

.pb-3,
.py-3 {
    padding-bottom: 0.5rem !important;
}

.text-primary {
    color: #f2ede0 !important;
}

.text-secondary {
    color: #000000 !important;
}
.sec-padding {
    padding: 5rem 0rem;
}
/*=============== Navber start ==================*/
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #f2ede0;
}

.navbar-brand img {
    max-width: 140px;
}
#mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover,
#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus,
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #000000;
}

#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
}

#mainNav .navbar-brand {
    color: #000;
}

#mainNav .navbar-nav {
    margin-top: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #000;
    text-transform: capitalize !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: rgb(0, 0, 0);
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: font-size 0.3s;
    }

    #mainNav .navbar-nav {
        margin-top: 0;
    }

    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/*=============== Navber End ==================*/

/*=============== hero section start ==================*/

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

.masthead .masthead-avatar {
    width: 15rem;
}

.bg-primary {
    background: url(../../public/img/hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: #0000005e 0px -10px 20px 0px;
}

.bg-primary2 {
    background: #fff;
}
.h-t-style {
    font-size: 44px;
}
.hero-caption-p {
    font-size: 17px !important;
    text-transform: capitalize;
    color: #252525 !important;
    font-weight: 500 !important;
    font-family: system-ui;
}
/*=============== hero section end ==================*/

/*=============== About section Start ==================*/

.about-section h1 {
    font-size: 32px;
    color: #000;
    line-height: 50px;
    font-family: system-ui;
}
.about-section p {
    font-size: 17px;
    /* text-transform: capitalize; */
    color: #252525;
    font-weight: 500;
    font-family: system-ui;
}
.about-section img {
    transition: all 0.7s ease-in-out;
    cursor: pointer;
}
.about-section img:hover {
    transform: translate3d(0px, -20px, 10px);
}
.sec-img1-position {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sec-img2-position {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.sec-img3-position {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.sec-img4-position {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
/*=============== About section end ==================*/
/*=============== About section end ==================*/

/*=============== Footer section start ==================*/

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #000000;
}

a.footerlink {
    color: #f2ede0;
}
.footer-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_button {
    background: #000;
    color: lightblue;
    border: 3px solid #000;
}

.main_button:hover {
    background: transparent;
    color: #000;
    border: 3px solid #000;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
    list-style: none;
    background-color: #000;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #add8e6;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #000;
    text-decoration: none;
    background-color: #add8e6;
}

.c_btn {
    color: #add8e6;
    transition: all 0.5s ease-in-out;
    background-color: black;
    border: 3px solid transparent;
}

.c_btn:hover {
    color: #ffffff;
    border: 3px solid #ffffff;
    background: #0c231e;
    transform: scale(1.1);
}

/*=============== Footer section end ==================*/

.page-section .page-section-heading {
    font-size: 1.25rem;
    line-height: 1rem;
}
.masthead {
    padding-top: calc(1rem + 74px);
    padding-bottom: 4rem;
}

.portfolio-modal .close {
    color: #f2ede0;
}

.floating-label-form-group-with-focus label {
    color: #f2ede0;
}

.footer {
    background-color: #23282a;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#priceHolder {
    display: inline-block;
    line-height: 1.4rem;
}

.curPrice_USD {
    display: block;
}

#curPrice_DOGE {
    vertical-align: top;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }

    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}
@media (min-width: 992px) {
    #mainNav {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #mainNav.navbar-shrink {
        padding-top: 0.15rem;
        padding-bottom: 0.15rem;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.2em;
    }

    .masthead {
        padding-top: calc(1rem + 104px);
        padding-bottom: 4rem;
    }

    .page-section .page-section-heading {
        font-size: 2rem;
        line-height: 1.5rem;
    }

    .pr-lg-3,
    .px-lg-3 {
        padding-right: 0.5rem !important;
    }

    .pl-lg-3,
    .px-lg-3 {
        padding-left: 0.5rem !important;
    }
}

::selection {
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

img {
    user-select: none !important;
    -moz-user-select: none !important;
    -webkit-user-drag: none !important;
    -webkit-user-select: none !important;
    -ms-user-select: none !important;
    -webkit-touch-callout: none !important;
    -khtml-user-select: none !important;
}

.support-content {
    min-height: 300px;
    max-width: 500px;
    border: 1px solid #4a6c7d;
    margin: 0px auto;
    padding: 20px;
    border-radius: 0.5rem;
}

.support-content .fa {
    font-size: 2rem;
}

.support-content .heading {
    font-size: 1.2rem;
}
